@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  /* siva doodi - Your custom colors */
  --color-primary-bg: #DCA56C;
  --color-secondary-bg: #2C98A0; 
  --color-tertiary-bg: #608BC1;

  --color-primary-text: #1e2939;
  --color-secondary-text: #101828;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-bg: var(--color-primary-bg);
  --color-secondary-bg: var(--color-secondary-bg);
  --color-tertiary-bg: var(--color-tertiary-bg);
  --color-primary-text: var(--color-primary-text);
  --color-secondary-text: var(--color-secondary-text);
  --font-inter: var(--font-inter);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

